@model ToDoList.DAL.Models.ToDoItem

<h4>Створити таск</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Text" class="control-label">Текст таска:</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Due_Date" class="control-label">До котрої дати виконати завдання: </label>
                <input asp-for="Due_Date" class="form-control" />
                <span asp-validation-for="Due_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Set_Date" class="control-label">Дата встановлення таска: </label>
                <input asp-for="Set_Date" class="form-control" />
                <span asp-validation-for="Set_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

